#Contributors {
    background-image: linear-gradient(to top, #b5c4c7 0%, #9ad1c4 100%);
}

#accordion1{
    box-shadow:5px 5px 10px #808080;
}
#accordion1 .background-img{
    height : 400px;
    background-color : #ffffff;
    background-position : center center;
    background-repeat : no-repeat;
    background-size : contain;    
}

#accordion1 #collapseOne .background-img {
    background-image: url("../../../../Materials/1424/01.webp");
}
#accordion1 #collapseTwo .background-img {
    background-image: url("../../../../Materials/1425/01.webp");
}
#accordion1 #collapseThree .background-img {
    background-image: url("../../../../Materials/1426/01.webp");
}
#accordion1 #collapseFour .background-img {
    background-image: url("../../../../Materials/1427/001.webp");
}
#accordion1 #collapseFive .background-img {
    background-image: url("../../../../Materials/1428/01.webp");
}
#accordion1 #collapseSix .background-img {
    background-image: url("../../../../Materials/1428_oct/001.webp");
}


.special-font ul li{
    font-family : Lipishree;
}
