.swiper-container {
    width: 100%;
    background-color: #9ad1c4;
    padding : 5% 0;
}

#magazine-content .swiper-container{
    height : 100vh;
    background-color: transparent;
    padding : 0 0 25px;
    margin : 10% 0 0;
}
#magazine-content .swiper-slide {
    overflow: hidden;
}

#magazine-content .swiper-pagination{
    bottom : 0;

}

.swiper-slide {
    height: 100%;
    text-align: center;
    font-size: 18px;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: 20px 20px 5px #808080;
}

#magazine-content .swiper-slide {
    box-shadow: none;
    background-color: rgba(77,72,72,0.5);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mySwiper{
    opacity : 0.8;
}

.mySwiper:hover {
    opacity :1;
}

