.lessOpacity{
    background-color : rgba(0,0,0,0.4);
}

.moreOpacity{
    background-color: rgba(0,0,0,0.8);
}

@media(min-width : 768px){
    .navbar-nav {
        width: 70%;

    }
}

.navbar-nav .active {
    background-color : rgba(255,255,255,0.22);
    border-radius : 10px;
}

.navbar-nav .active{
    font-style : italic;
    font-variant : small-caps;
    font-size : 1.2em;
}

.navbar-nav .nav-link {
    border-radius: 10px;
}

.nav-item{
    text-align: center;
    margin : 3px;
    width : 100%;
}

.nav-item .nav-link {
    text-align: center;
    position: relative;
}

.nav-item .nav-link:after {
    bottom: 0;
    content: "";
    display: block;
    height: 5%;
    left: 50%;
    position: absolute;
    background: #B5CE23;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-item .nav-link:hover::after {
    width: 90%;
    left: 5%;
}

@media(max-width : 768px){
    .nav-item .nav-link:hover::after {
        width: 98%;
        left: 1%;
    }
}

.logo-name {
    margin-left: 2%;
}
.site-name {
    border-radius : 10px;
    font-family: Lipishree;
    font-size : 2.5em;
}

@media (max-width : 300px){
    .site-name {
        font-size : 1.5em;
    }
}