@font-face {
    font-family: Lipishree;
    src: url("./Materials/Fonts/Lipishree Unicode.ttf");
}
@font-face {
    font-family : FleurDeLeah;
    src : url("./Materials/Fonts/FleurDeLeah-Regular.ttf");
}

@font-face {
    font-family : JosefinSlab;
    src : url('./Materials/Fonts/JosefinSlab-Regular.ttf');
}

@font-face {
    font-family : poppins;
    src : url('./Materials/Fonts/Poppins-Light.ttf');
}

#About {
    background-color: #e4e5ed;
}

